{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
    <head>
        <!-- Meta Data -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- Scripts -->
        <script src="https://kit.fontawesome.com/fb1fe326ad.js" crossorigin="anonymous"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                extend: {
                    fontFamily: {
                    sans: ['Inter', 'sans-serif'],
                    },
                }
                }
            }
        </script>
        <!-- Title -->
        <title>Doggie Ranch</title>
    </head>
    <body id="app" class="bg-stone-50 h-full">
        <!-- Navigation -->
        {% include './partials/nav.html' %}
        <!-- End Navigation -->

        <!-- Main Content -->
        <main class="flex-1 pb-8 ">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 pt-12">
                {% block content %}{% endblock %}
            </div>
        </main>
        <!-- End Main Content -->
    </body>
</html>